@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-principal: #fa6096;
    --cor-secundaria: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

.negocio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1.875rem;
}

.negocio__historia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1rem;
}
.negocio__historia:hover {
    border: 0.125rem solid var(--cor-secundaria);
    border-radius: 0.5rem;
    font-weight: 900px;
}

.negocio__texto__historia {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color:var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}


#centro {
    text-align: center;
}

header {
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 1rem;
}

main {
    background: #FFFFFF;
    color: var(--cor-secundaria);
    padding: 0.625rem;
}

#fotominha, #bibiei {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 21.875rem;
    height: auto;
}

.botao-verde {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 75%;
    max-width: 15rem;
    text-align: center;
    border: 0.125rem solid green;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.botao-verde:hover {
    background-color: green;
    cursor: pointer;
    width: 200%;
}

.botoes-centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.negocio__texto {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    color: white;
    padding: 1rem;
}

.negocio__texto__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    color: white;
    text-align: center;
}

.negocio__texto__paragrafo {
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.rodape {
    padding: 1.5rem;
    color: white;
    background-color: green;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.cabecalho {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho__logo {
    width: 50px; /* Ajuste conforme o tamanho desejado */
    height: auto;
}

.cabecalho__logo--esquerda {
    margin-right: auto; /* Move a logo para o lado esquerdo */
}

.cabecalho__logo--direita {
    margin-left: auto; /* Move a logo para o lado direito */
}

.cabecalho__menu {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: white;
}

.mapa__loja__print {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 15.625rem;
    height: auto;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--cor-secundaria);
    padding: 0.625rem;
}

.mapa__loja__print:hover {
    width: 100%;
    max-width: 20rem;
}

.mapa__loja {
    display: flex;
    justify-content: center;
    color: var(--cor-secundaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .negocio {
        flex-direction: column-reverse;
        padding: 2rem;
    }

    .negocio__texto {
        width: 100%;
    }

    .negocio__texto__titulo {
        font-size: 1.75rem;
    }

    .botao-verde {
        width: 100%;
        max-width: 10rem;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    #fotominha, #bibiei {
        max-width: 15rem;
    }

    .botao-verde {
        width: 100%;
        max-width: 8rem;
        font-size: 1.25rem;
    }

    .negocio__texto__titulo {
        font-size: 1.5rem;
    }

    .negocio__texto__paragrafo {
        font-size: 1rem;
    }

    .rodape {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .negocio {
        padding: 1rem;
    }

    .negocio__texto__titulo {
        font-size: 1.25rem;
    }

    .cabecalho__menu__link {
        font-size: 0.875rem;
    }

    .botao-verde {
        font-size: 1rem;
        padding: 0.75rem;
    }
}
