@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-principal: #fa6096;
    --cor-secundaria: #ffd700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor-principal);
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.negocio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1.875rem;
}

.negocio__historia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    font-family: 'Montserrat', sans-serif;
}

#centro {
    text-align: center;
}

.verde-front {
    color: green;
}

header {
    background: var(--cor-principal);
    color: var(--cor-secundaria)
}

main {
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 0.625rem;
    font-family: 'Montserrat', sans-serif;
}

#fotominha {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 21.875rem;
    height: auto; /* Mantém a proporção da imagem */
}

#bibiei {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 28.125rem;
    height: auto; /* Mantém a proporção da imagem */
}    

.botao-verde {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 75%;
    text-align: center;
    border: 0.125rem solid green;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 37.5rem;
    padding: 1.34375rem 0;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.botao-verde:hover{
    background-color: green;
    padding: 3%;
    cursor: pointer;
}

.botoes-centro {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
}

.botoes-centro-att {
    font-family: "Krona One", sans-serif;
    font-weight: 25rem;
    font-size: 1.5rem;
}

.negocio__texto {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    color: white;
}

.negocio__texto__historia {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color:var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.negocio__texto__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif ;
    color: white;
}

.negocio__texto__paragrafo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.rodape {
    padding: 1.5rem;
    color: white;
    background-color: green;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem ;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho__menu__link {
    color: var(--cor-secundaria);
    font-size: 1.125rem;
    margin: 0 0.625rem;
    padding: 0.3125rem 0.625rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: white;
    font-size: 1.5rem;
}

.foto__historia {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 21.875rem;
    height: auto; /* Mantém a proporção da imagem */
}

.mapa__loja__print {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 15.625rem;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 0.5rem;
    border: 0.125rem solid var(--cor-secundaria);
    padding: 0.625rem;
}

.mapa__loja__print:hover {
    width: 31.25rem;
}

.mapa__loja {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.imagem__rem {
    width: 50%;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }
    
    .negocio {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .negocio__texto {
        width: auto;
    }
}